.block--personalsummary{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  color: white;
  padding: 25px;
  background: rgba(10, 36, 53, 0.49);
}
.block--firstslide{
  position: absolute;
  left: 50%;
  top: 56%;
  transform: translate(-50%, -50%);
  color: white;
  width: 100%;
  background: #0c273a70;
  text-align: center;
  h1{
    font-size: 4.5rem;
  }
  h2{
    font-size: 3rem;
  }
  h3{
    font-size: 2rem;
  }
}
